<ion-content class="ion-padding fullscreen-content" [fullscreen]="true">
  <div class="start-page">
    <div class="logo-container">
      <img src="assets/img/Logo.gif" alt="Logo">
    </div>
    <div class="message-container">
      <h1>Bienvenido a Registro App</h1>
      <p>Logeate con tu usuario y contraseña</p>
    </div>
    <div class="swipe-container">
      <ion-button [routerLink]="['/bienvenida']" expand="block" color="dark" class="entrar-button">
        Entrar
      </ion-button>
    </div>      
  </div>
</ion-content>
