<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="megaphone"></ion-icon>
              Comunicados
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-segment>
              <ion-segment-button value="urgente">
                Urgente
              </ion-segment-button>
              <ion-segment-button value="normal" checked>
                General
              </ion-segment-button>
            </ion-segment>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="alert-circle" color="danger"></ion-icon>
              Suspensión de Clases - Urgente
            </ion-card-title>
            <ion-card-subtitle>Publicado el 18 de octubre, 21:00 </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Urgente: Debido a una situación de seguridad en el campus, todas las clases quedan suspendidas a partir de ahora.
            Manténgase atentos a nuevas actualizaciones y siga las instrucciones de seguridad proporcionadas por las autoridades.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="megaphone" color="primary"></ion-icon>
              Ensayo General
            </ion-card-title>
            <ion-card-subtitle>Publicado el 9 de agosto, 15:00</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Recordatorio: Mañana desde las 13:00 hasta las 16:00 hay ensayo general para los bailes de fiestas patrias.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

