ion-content {
  
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  .input-label {
    color: var(--ion-color-primary);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-field {
    border: 2px solid var(--ion-color-primary);
    border-radius: 12px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .login-button {
    --background: var(--ion-color-primary);
    --color: #ffffff;
    font-weight: bold;
    font-size: 18px;
  }
}