ion-content {
    --ion-background-color: #000000;
    overflow: hidden;
    height: 100%;
  }  

.striped-item {
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 5px,
        #fff 5px, /* Color de las rayas blancas */
        #fff 10px
    );
    background-color: #f0f0f0; /* Color de fondo claro */
}


.anotacion-item {
    white-space: normal; /* Para que el texto se ajuste al contenedor */
}

.tipo-anotacion-col,
comentario-col,
.fecha-col {
    white-space: normal;
}

/* Estilos específicos para tamaños de pantalla pequeños */
@media (max-width: 576px) {
    .tipo-anotacion-col,
    .comentario-col,
    .fecha-col {
        flex-basis: 100%;
        text-align: center; /* Centra el contenido en tamaños pequeños */
    }
}
