<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notas Escolares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis Notas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let asignatura of asignaturas" (click)="mostrarDetalle(asignatura)">
            <ion-label>
              <h2>{{ asignatura.nombre }}</h2>
              <p>Profesor: {{ asignatura.profesor }}</p>
              <div class="notas">
                <table class="custom-table">
                  <tr>
                    <th>Parcial 1</th>
                    <th>Parcial 2</th>
                    <th>Parcial 3</th>
                    <th>Examen</th>
                  </tr>
                  <tr>
                    <td [style.color]="getColor(asignatura.parcial1)">{{ asignatura.parcial1 }}</td>
                    <td [style.color]="getColor(asignatura.parcial2)">{{ asignatura.parcial2 }}</td>
                    <td [style.color]="getColor(asignatura.parcial3)">{{ asignatura.parcial3 }}</td>
                    <td [style.color]="getColor(asignatura.examen)">{{ asignatura.examen }}</td>
                  </tr>
                </table>
              </div>
              <p class="nota-final" [style.color]="getColor(calcularNotaFinal(asignatura))">Nota Final: {{ calcularNotaFinal(asignatura) }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
