<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Horario de Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Lunes</ion-card-subtitle>
            <ion-card-title>08:00 AM - 10:00 AM</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Matemáticas
            <br>
            Profesor: Juan Pérez
            <br>
            Aula: A-101
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Martes</ion-card-subtitle>
            <ion-card-title>09:00 AM - 11:00 AM</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Historia
            <br>
            Profesor: María Rodríguez
            <br>
            Aula: B-202
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Miércoles</ion-card-subtitle>
            <ion-card-title>10:30 AM - 12:30 PM</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ciencias Naturales
            <br>
            Profesor: Carlos Gómez
            <br>
            Aula: C-303
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Repite para los demás días y horas -->

  </ion-grid>
</ion-content>
