<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row>
      <ion-col size="6" (click)="irANotasEscolares()">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Notas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Aquí estarán tus notas escolares.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" (click)="irAMallaCurricular()">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cursos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Historial de cursos
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Solicitudes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Realiza tus solicitudes en línea.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Horario </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Consulta tu horario de clases.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Escanear Código QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Escanea un código QR aquí.
      </ion-card-content>
    </ion-card>

    <ion-button ion-tab-button (click)="mostrarAlerta()">Mostrar Alerta</ion-button>
  </div>
</ion-content>
