ion-content {
  --ion-background-color: #000000;
  overflow: hidden;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 400px; 
  margin-top: 20px; 
}

.logo-container img {
  max-width: 100%;
  max-height: 100%; 
  border-radius: 50%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#container {
  text-align: center;
  position: relative;
}

ion-card {
  border-radius: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 70px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
